@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Zen+Dots&display=swap");
@font-face {
  font-family: Nexa;
  src: url("/fonts/nexa_bold-webfont.woff2");
  font-weight: 700;
}
@font-face {
  font-family: Nexa;
  src: url("/fonts/nexa_regular-webfont.woff2");
  font-weight: 400;
}
@font-face {
  font-family: Nexa;
  src: url("/fonts/nexa_light-webfont.woff2");
  font-weight: 300;
}
@font-face {
  font-family: Clash Display;
  src: url("/fonts/ClashDisplay-Regular.woff");
  font-weight: 400;
}
@font-face {
  font-family: Clash Display;
  src: url("/fonts/ClashDisplay-Medium.woff");
  font-weight: 500;
}
@font-face {
  font-family: Clash Display;
  src: url("/fonts/ClashDisplay-Semibold.woff");
  font-weight: 600;
}
@font-face {
  font-family: Monument;
  src: url("/fonts/monumentextended-regular-webfont.woff2");
  font-weight: 400;
}
@font-face {
  font-family: Mesa;
  src: url("/fonts/Mesa\ Grande.woff");
  font-weight: 400;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .purple-btn {
    @apply font-clash  text-xl font-semibold border-2 hover:shadow-transparent border-solid border-pinkish-purple hover:bg-transparent transition-all duration-300 text-white bg-pinkish-purple rounded-[5px] px-5 shadow-btn h-[52px];
  }
  .title {
    @apply font-mesa uppercase text-center  font-normal bg-investingText bg-clip-text text-transparent leading-[1.6] text-[25px] md:text-[35px] xl:text-[40px];
  }
  .wrapper {
    @apply flex justify-center items-center flex-col w-full;
  }
  .contain {
    @apply flex w-[90%] max-w-[1100px];
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #0c0c26;
}
.stroke-text {
  -webkit-text-stroke: 8px transparent;
}
